@charset "utf-8";

/* ALL */
.landing {
    font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
}

/* END ALL */

/* HEADER */

.header {
	height: 20vh;	
}

/* END HEADER */

/* MAIN */

.main {
	height: 70vh;
	width: 100vw;	
}

/* END MAIN */

/* FOOTER */

.footer {
	height: 10vh;	
}

/* FOOTER */
